<html>
<body>
<a href="/log-out">Log Out</a>
<div>
    Logged in as: <%= currentUser %>
</div>
<div>
    <% installations.forEach(({ id, account }) => { %>
        <div><a href="/github/installations/<%= id %>"><%= account.login %></a></div>
    <% }) %>
</div>
</body>
</html>
